<div id="header">
    <h1 id="titulo">Cadastro de Postagens</h1>
</div>

<form action="/add" method="POST">
    <p class="formp">Título:</p>
    <input type="text" name="titulo" class="campo" autocapitalize="on">
    <p class="formp">Conteúdo: </p>
    <textarea type="text" name="conteudo" class="campo" style="height: 100px;"></textarea>
    <button type="submit" class="botaocadastrar">Cadastrar Postagem</button>
</form>